<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moral Classifcation</title>
    <link rel="stylesheet" href="static/styles.css"> 
  </head>
  <body>
    <h1>Was That Wrong?</h1>
    {% if moral %}
        <p>That Statement Was Moral</p>
    {% else %}
        <p>That Statement Was Not Moral</p>
    {% endif %}
        
  </body>
</html>
